# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs
/AcpiLib/Debug
/AcpiLib/x64
/alienfan-cli/.vs/alienfan-tools/v16
/alienfan-cli/Debug
/alienfan-cli/x64
/HwAcc/Debug
/HwAcc/x64
/x64
/alienfan-SDK/x64
